@import "tailwindcss";

/* Hide scrollbar but keep page scrollable */

/* For Chrome, Safari, and Edge */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* For Firefox */
html {
  scrollbar-width: none;
}

/* For IE, Edge (legacy) */
body {
  -ms-overflow-style: none;
}
